<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Globo</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <div class="cabecera">
      <img src="imagenes/globo.png" alt="Logo" id="logo">
      <div class="ingreso-usuario">
        <input id="usuario" v-model="usuario" type="text" placeholder="Ingresa tu usuario...">
      </div>
    </div>
    <div class="main">
      <perfil></perfil>

      <div class="publicaciones">
        <p>Publicado hace 1 semana</p>
        <img :src="image" alt="callejones de tokio">
        <button id="btn_meGusta" @click="meGusta">Me gusta</button>
        <h4 id="likes"><span id="contador" style="color: black;"><strong>{{ likes }}</strong></span> Likes</h4>
        <div id="comentarios">
          <br>
          <h4>Comentarios</h4>
          <br>
          <div id="lista-de-comentarios">
            <div>
              <h4>Juan Perez</h4>
              <span>¡Wow, esa foto de Tokio es impresionante!</span>
              <br>
            </div>
            <div>
              <h4>Kathleen J Rennie</h4>
              <span>¡Esta foto de Tokio es simplemente espectacular! Me trae tantos recuerdos.</span>
              <br>
            </div>
            <lista-comentarios :comentarios="comentarios" :usuario="usuario"></lista-comentarios>
          </div>
          <br>
          <!-- <form action="Comentar">
            <input id="cajaComentarios" type="text" placeholder="Deja tu comentario..."></input>
            <button id="btnComentar" style="float: right;">Comentar</button>
          </form> -->
          <seccion-comentarios :usuario="usuario" @comentario-enviado="agregarComentario" @error-usuario="userError"></seccion-comentarios>
        </div>
        <!-- <p id="errorUsuario" class="error" v-if="errorUsuario">Error: El usuario ingresado no cumple con los requisitos</p>
        <p id="errorComentario" class="error" v-if="errorComentario">Error: El comentario ingresado no cumple con los requisitos</p> -->
      </div>

      <sobre-mi></sobre-mi>
    </div>
  </div>

  <script src="./script.js"></script>
  <script src="./components/Perfil.js"></script>
  <script src="./components/SobreMi.js"></script>
  <script src="./components/SeccionComentarios.js"></script>
  <script src="./components/ListaComentarios.js"></script>

  <script>
    const mountedApp = app.mount('#app')
  </script>
</body>

</html>